Repository tarasenkoMariya/testRepositiory, changes with the owners that CODEOWNERS names for each.
All owners: @global-owner1, @tarasenkoMariya, @txt-owner, @js-owner, @comowner, matar@ciklum.com, @testowner, @test1owner

commit to test pushes
  src/main/java/My hello world.txt
  src/main/java/com/test/test.txt
  src/main/java/com/test2/file3.js
Owners: @txt-owner, @testowner, @js-owner

commit to test pushes
  src/main/java/com/test2/test2.txt
Owners: @txt-owner

commit to test pushes
  src/main/java/com/test/test1.txt
  src/main/java/com/test2/2
  src/main/java/com/test2/test2.txt
Owners: @testowner, @global-owner1, @tarasenkoMariya, @txt-owner

commit to test pushes
  src/main/java/com/test2/2
Owners: @global-owner1, @tarasenkoMariya

commit to test pushes
  src/main/java/com/test3/22
Owners: @global-owner1, @tarasenkoMariya

Create testFile
  testFile
Owners: @global-owner1, @tarasenkoMariya

Create file.txt
  src/main/java/com/test1/file.txt
Owners: @test1owner

Update test.txt
  src/main/java/com/test/test.txt
Owners: @testowner

CODEOWNERS:

*       @global-owner1 @tarasenkoMariya
*.txt    @txt-owner
*.js    @js-owner
/src/main/java/com/* @comowner
/src/main/java/com/test/  matar@ciklum.com
/src/main/java/com/test/ @testowner
/src/main/java/com/test1/ @test1owner
